<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.potenter.instagram.post.like.dao.LikeDAO">
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			, `userId`
			, `createdAt`
		)
		VALUE 
		(
			#{postId}
			, #{userId}
			, now()
		)
	
	</insert>

</mapper>