@charset "UTF-8";

#wrap {
	width: 1300px;
	margin: auto;	
}

header{
	height: 100px;
}

.posting {
	height: 600px;
}
.posting > .imagebox {
	height: 300px;	
}

.friend-box {
	height: 300px;
}

.ad-box {
	height: 300px;
}

.join-box {
	height: 430px;
	width: 500px;
	background-color: #dddddd;	
}

.login-box {
	height: 50px;
	width: 500px;
	background-color: #dddddd;
} 

.text-input {
	background-color: #dddddd;
	height: auto;
	margin: auto;
}

footer {
	height: 100px;
}