@charset "UTF-8";

#wrap {
	width: 1300px;
	height: 800px;
	margin: auto;	
}

header{
	height: 100px;
}

section > article {
	height: 630px;
}

.join-box {
	height: 430px;
	width: 500px;
	background-color: #dddddd;	
}

.login-box {
	height: 50px;
	width: 500px;
	background-color: #dddddd;
} 

.text_input {
	background-color: #dddddd;
}

footer {
	height: 100px;
}